<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ログイン画面</title>
	</head>
	<body>
		<h2 align="center">ログイン画面</h2>
		<hr>
			<div align="center">
				<table border="0">
					<form action="@{/login}" method="post">
						<tr>
							<th class="">ユーザID</th>
							<td class="">
								<input type="text"	name="user_id" size="30">
							</td>
						</tr>
						<tr>
							<th class=""  height="50">パスワード</th>
							<td class="">
								<input type="password" name="password" size="30">
							</td>
						</tr>
						<tr>
							<td colspan="2" class="">
								<input type="submit" value="ログイン">
							</td>
						</tr>
					</form>
				</table>
			</div>
	</body>
</html>